ion-tab-bar {
	--background: #0d1117;
	--border: #30363d;
	--color: #8b949e;
	--color-selected: #f85149;
	height: 62px;
	padding-bottom: 6px;
}

ion-tab-button {
	--color: #8b949e;
	--color-selected: #f85149;
	font-size: 0.68rem;
}

ion-icon {
	font-size: 20px;
}
