<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="turnos">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Turnos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="asistencia">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personal">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Personal</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>